body{
    margin: 0;
    padding: 0;
    background-image: url("img/background.gif");
}

.content-text{
    font-family: 'robotoregular',sans-serif;
    color: #f9faf8;
}

.header{
    display: flex;
    background-color: #E97777;
    justify-content: space-around;
}

.header p:first-child{
    font-size: 24px;
}

.header ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.header ul li a{
    text-decoration: none;
    font-size: 24px;

}

.header ul li a:hover{
    color:tomato;
}
/* First content*/
.first-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 50px;
    background-color: rgba(0, 255, 255,0.4);
    flex-wrap: wrap;
}

.first-content img{
    max-width: 500px;
    max-height: 250px;
    width: 70vw;
}

.first-content-left{
    width: 500px;
}

.first-content p:first-child{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 8px;
    color: #354259;
}

.first-content p{
    font-size: 18px;
    color: #354259;
}

.first-content button{
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    width: 130px;
}
/* ---------------------------------- */
/* Second content */

.second-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-content p:first-child{
    font-size: 36px;
    font-weight: bold;
    font-family: 'robotoregular',sans-serif;
    color: #1f2937;
}

.second-content .computer-parts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.second-content .computer-parts .part{
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}

/* sources 

background gif: https://amariujala.vercel.app/3/posts/the-best-27-aesthetic-brown-anime-background-gif/
anime merchandise: https://animewhiz.com/merchandise/


*/
